# =========================
# Python / FastAPI
# =========================
__pycache__/
*.py[cod]
.venv/
venv/

# Environment
.env
.env.*
!**/.env.example

# SQLite
*.db
!localhub-submission/*.db

# =========================
# Node / Vue
# =========================
node_modules/
dist/

# =========================
# VSCode
# =========================
.vscode/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log
